{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
//    "stage-3",
//    "es2017"

  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings",
    "@babel/transform-runtime"
  ]
}
