@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");

// app global css

.q-layout-page-container{
  width: 1140px;
  max-width: 90vw;
}

.q-card{
  font-family: 'Roboto', sans-serif;
  a{
    text-decoration: none;
    color: #3097D1;
    &:hover{
      color: #216a94;
    }
  }
}

a[href^="tel:"] {
  color: orange;
  text-decoration: none;
  &:before {
    content: "\260e";
    margin-left: 1em;
    margin-right: 0.5em;
  }
}
